SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

JWT_SECRET=
JWT_EXPIRATION=7
PORT=3000
CORS_ORIGIN=http://localhost:4200
NODE_ENV=development

DB_HOST=
DB_PORT=6543
DB_USER=
DB_PASSWORD=
DB_NAME=postgres
DATABASE_URL=
